@model ICollection<SerHumano.Models.ReportListViewModel>


@Styles.Render("~/Content/Home.css")

<table>
    <tr>
        <td>Id</td>
        <td>Título</td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>item.Id</td>
            <td>item.Title</td>
        </tr>
    }

</table>
