@model ICollection<SerHumano.Models.ReportListViewModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<ul class="list-group">
    @foreach (var Report in Model)
    {
        <li class="list-group-item"><a href="">@Report.Header</a></li>
    }
</ul>

