@model ICollection<SerHumano.Models.ReportListViewModel>


@Styles.Render("~/Content/Home.css")

<div align="center" id="Main-Form">
    <table  style="border: 1px solid black;border-collapse: collapse;">
        <tr>
            <td>Id</td>
            <td>Título</td>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.ActionLink(item.Id.ToString(), "ReportDetails", "Reporte", new { ReportId=item.Id}, null)</td>
                <td>@item.Header</td>
            </tr>
        }

    </table>
</div>
