@{
    ViewBag.Title = "Home Page";
}
@Styles.Render("~/Content/Details.css")
<div class="jumbotron">
    <div id="Main-Form"></div>
    <button id="Registro"></button>
    <button id="Lista"></button>
    <button id="Detalles"></button>


</div>